.intro-container {
    align-items: center;
    background: url('/src/images/typing-keyboarding-practice-games-and-lessons1604681748818430.jpg') center center/cover no-repeat;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    object-fit: contain;
    padding: 0 120px;
    width: 100%;
}

.intro-container>h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    padding: 0 150px;
    text-align: center;
}

.intro-container>p {
    color: #fff;
    font-size: 32px;
    margin-top: 8px;
    padding: 0 150px;
    text-align: center;
}

@media screen and (max-width: 960px) {
    .intro-container {
        margin: 0;
        padding: 0;
    }
    
    .intro-container>h1 {
        font-size: 10px;
        margin-top: -150px;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    .intro-container>h1 {
        font-size: 50px;
        margin-top: -10px;
        padding: 0;
    }

    .intro-container>p {
        font-size: 14px;
        padding: 0;
    }
}